<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

  <!-- main content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
    </div>
    <div class="text-content">
      <div>
        <img src="/Assets/images/profile-picture.jpg" alt="Profile Picture">
      </div>
    </div>
    <div><b>My name is Hao (Harry) Zhou. I am currently a student at Centennial College in the Software Engeineering 
      and Technologies Program. My interest in technology has lead me to pursue software developer as a career and
      I also have a keen interest in the hardware aspects of engineering. I was enrolled in the Seneca Control Systems
      program several years ago and have some basic understanding of electricity and various hardware components.</b></div>
  </main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>