<!-- basically splitting up the project like lego pieces -->
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

  <!-- main content -->
  <main class="container d-flex justify-content-center align-content-center" style="height:100%">
    <h1 class="display-4 d-flex align-content-center"><%= title %></h1>
  </main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>