<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

  <!-- main content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
    </div>
    <div class="text-content">
      <div>
        <img src="/Assets/images/irl-nerd-logo.png" alt="irl nerd logo">
      </div>
    </div>
    <div><b>My current project that I am working on is building a working online platform that sells merchandise.
      The products mainly focus on pop culture merchandise that people can buy through this platform. It will also
      accomodate many third party to sell through our platform.
    </b></div>
    <a href="https://www.facebook.com/irl.nerd.store/"><i class="fab fa-facebook"></i> IRL NerdStore Facebook </a>
    <br>
    <a href="https://www.instagram.com/irl.nerd.store/?hl=en"><i class="fab fa-instagram"></i> IRL NerdStore Instagram </a>
    <br>
    <a href="https://www.etsy.com/shop/IRLNerdStoreCo"><i class="fab fa-etsy"></i> IRL NerdStore Etsy </a>
  </main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>