<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

  <!-- main content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
    </div>
    <div class="text-content">
      <div>
        <img src="/Assets/images/service.png" alt="Profile Picture">
      </div>
    </div>
    <div><b>I offer various technological services such as:</b>
    <ul>
      <li>Web Development</li>
      <li>Game Development</li>
      <li>General Desktop App Development</li>
      <li>Custom Computer Building Solutions</li>
    </ul>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>